* {
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar,
.sidebar {
    background-color: black;
}

.navbar {
    width: 100%;
    height: 50px;
}

.navbar-container {
    display: flex;
    margin: 0 50px;
    align-items: center;
}

.logo-container {
    font-family: 'Sen', sans-serif;
    display: flex;
    align-items: center;
    color: #4dbf00;
    z-index: 1;
    font-weight: 600;
    font-size: 36px;
    flex: 1;
}

.menu-container {
    color: white;
    flex: 6;
    margin-top: 10px;
}

.menu-list-item {
    cursor: pointer;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    display: flex;
    align-items: center;
    margin: 0 5px;
}


.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


.menu-container>ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    /* right: 1px; */
    cursor: pointer;
    border-radius: 50%;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: #fff;
}

.content-container {
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
}

.featured-title {
    width: 200px;
}

.featured-title {
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.featured-button {
    background-color: #4dbf00;
    color: white;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.movie-list-container {
    padding: 20px;
}

.movie-list-item-img {
    height: 200px;
    width: 270px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.movie-list {
    display: flex;
    height: 300px;
    align-items: center;
    gap: 20px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.movie-list-item {
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
    cursor: pointer;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-list-title {
    margin-bottom: 15px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 160px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    left: 50px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    cursor: pointer;
    right: 0;
    color: lightgray;
    opacity: .5;
}

