.topbar-container {
    background-color: #1877f2;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    align-items: center;
    position: sticky;
    top: 0;
}

.topBarLeft {
    display: flex;
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topBarCenter{
    display: flex;
    flex: 5;
}

.topBarRight{
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.searchbar {
    background-color: #fff;
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    align-items: center;
}

.searchIcon {
    font-size: 20px;
}

.searchInput {
    min-width: 200px;
    outline: none;
    border: none;
}

.searchInput:focus {
    outline: none;
}

.topbarIcons {
    display: flex;
    gap: 10px;
}

.topbarLinks {
    display: flex;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.topbarIconBadge {
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: -7px;
    left: 10px;
}

.topbarIcons {
    position: relative;
}